<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="netBankingV2" >

		<test name="Test Case-1" >

			<classes>
				<class name="com.netBanking.testCases.TC_LoginTest_001" />
				<class name="com.netBanking.testCases.TC_LoginTest_002" />

			</classes> 

		</test>

</suite>